body {margin:0;}
.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;

  padding: 0.3%;
  font-weight: bolder;
  font-style: oblique;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 40pt;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
form { 
  margin: 1cm;
  height: 5cm;
}

div {
  background-color: black;
  padding: 1%;
  text-align: center;
  font-size: 10pt;
  color: white;
  font-family: Trebuchet MS;

}
.main {
  background-color: black;
}

p {
    text-align: center;
    font-size: 30pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.baby {
   display: flex;
   justify-content: center;
   background-color: black;
   margin-bottom: 3cm;
 
}

img{
  border-image: round;
  margin-right: 1cm;
}

 button{

  display:inline-block;
  padding:2.5cm;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  background-color: #FFB4B4;
  font-weight: bolder;
 
  text-decoration:none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100pt;
  color:white;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  margin: 3cm;
 }



 